<input type="checkbox" id="product" onchange="searchType('product')" /> Products<br />
<input type="checkbox" id="article" onchange="searchType('article')" /> Blog Posts<br />
<input type="checkbox" id="page" onchange="searchType('page')" /> Pages<br />
<input type="checkbox" id="all" onchange="searchType('all')" /> All<br />
<form id="search-form" name="search" action="/search">
	<input type="hidden" id="type" name="type" value="" />
	<input type="text" id="q" name="q" value="" class="search replace" title="Search" />
	<button type="submit" id="search-submit">search</button>
</form>     
<script type="text/javascript">
	function searchType(type) {
		if(type=='all') {
			document.getElementById('product').checked=false;
			document.getElementById('article').checked=false;
			document.getElementById('page').checked=false;
			document.getElementById('type').value='';
		} else {
			document.getElementById('all').checked='';
			var product = document.getElementById('product').checked;
			var article = document.getElementById('article').checked;
			var page = document.getElementById('page').checked;
			if(product==true && article==true && page==true) {document.getElementById('type').value='';}
			else if(product==true && article==true && page==false) {document.getElementById('type').value='product,article';}
			else if(product==true && article==false && page==true) {document.getElementById('type').value='product,page';}
			else if(product==true && article==false && page==false) {document.getElementById('type').value='product';}
			else if(product==false && article==true && page==true) {document.getElementById('type').value='article,page';}
			else if(product==false && article==true && page==false) {document.getElementById('type').value='article';}
			else if(product==false && article==false && page==true) {document.getElementById('type').value='page';}
			else if(product==false && article==false && page==false) {document.getElementById('type').value='';}
		}
	}
</script>