{{ 'logo.png' | asset_url | img_tag:shop.name | link_to:shop.url }}

<form action="/search" method="get">
	<input type="text" name="q" placeholder="Search" />
	<button type="submit">Search</button>
</form>

<a href="/account">{% if customer %}My Account{% else %}Log in{% endif %}</a>
{% if customer %}<a href="/account/logout">Log out</a>{% else %}<a href="/account/register">Create Account</a>{% endif %}

<a href="/cart">Cart: {{ cart.item_count }} {{ cart.item_count | pluralize:'item','items' }}</a>

{% for link in linklists.main-menu.links %}
	{{ link.title | link_to:link.url }}
{% endfor %}
