<form action="/cart/add" method="post">
	{% if product.variants.size > 1 %}
		<label>{% for option in product.options %}{{ option }}{% unless forloop.last %}/{% endunless %}{% endfor %}</label>
		<select name="id" class="product-select">
			{% for variant in product.variants %}
				<option value="{{ variant.id }}">{{ variant.title }}</option>
			{% endfor %}
		</select>
	{% else %}
		<input type="hidden" name="id" class="product-select" value="{{ product.variants[0].id }}" />
	{% endif %}
	<label>Quantity</label>
	<input type="text" name="quantity" value="1" />
	<button type="submit">Add to cart</button>
</form>