<div class="info rte">

<h1>Activate Account</h1>
<p>Create your password to activate your account</p>
{% form 'activate_customer_password' %}
	{% if form.errors %}{% for field in form.errors %}<p>{{ field }}: {{ form.errors.messages[field] }}</p>{% endfor %}{% endif %}
	<label for="customer[password]">Password</label>
	<input type="password" name="customer[password]" />
	<label for="customer[password_confirmation]">Confirm password</label>
	<input type="password" name="customer[password_confirmation]" />
	<button type="submit">Activate account</button>
{% endform %}

</div> <!-- end .info -->
