<div class="info">
<h2>Activate Account</h2>
<p>Create your password to activate your account</p>
{% form 'activate_customer_password' %}
	{{ form.errors | default_errors }}
	<input type="password" placeholder="password" name="customer[password]" />
	<input type="password" placeholder="confirm password" name="customer[password_confirmation]" />
	<button type="submit">Activate Account</button>
	<button type="submit" name="decline">Decline Invitation</button>
{% endform %}
</div> <!-- end .info -->
