<div class="info rte">

<h1>Activate Account</h1>
<p>Create your password to activate your account</p>
{% form 'activate_customer_password' %}
	<div>{{ form.errors | default_errors }}</div>
	<input type="password" placeholder="password" name="customer[password]" />
	<input type="password" placeholder="confirm password" name="customer[password_confirmation]" />
	<button type="submit">Activate Account</button>
{% endform %}

</div> <!-- end .info -->