<div class="info rte">

<h1>Customer Login</h1>
{% form 'customer_login' %}
	<div>{{ form.errors | default_errors }}</div>
	<input type="email" placeholder="email address" name="customer[email]" />
	<input type="password" placeholder="password" name="customer[password]" />
	<button type="submit">Sign In</button>
	<a href="javascript">Forgot your password?</a>
{% endform %}

<div class="password">
	<h1>Reset Password</h1>
	<p>We will send you an email to reset your password.</p>
	{% form 'recover_customer_password' %}
		<div>{{ form.errors | default_errors }}</div>
		<input type="email" placeholder="email address" name="email" />
		<button type="submit">Submit</button>
	{% endform %}
</div> <!-- end .password -->

{% if shop.checkout.guest_login %}
	<div class="guest">
		<h1>Guest Login</h1>
		<p>Continue checkout as a guest. No sign-up required.</p>
		{% form 'guest_login' %}
			<button type="submit">Continue as Guest</button>
		{% endform %}
	</div> <!-- end .guest -->
{% endif %}

</div> <!-- end .info -->