<div class="info">
<div class="login">
	<h2>Customer Login</h2>
	{% form 'customer_login' %}
		{% if form.errors %}
			{{ form.errors | default_errors }}
		{% endif %
		<input type="email" placeholder="email address" name="customer[email]" />
		<input type="password" placeholder="password" name="customer[password]" />
		<button type="submit">Sign in</button>
	{% endform %}
	<a href="javascript:void(0)" onclick="show();">Forgot your password?</a>
</div> <!-- end .login -->

<div class="password">
	<h2>Reset Password</h2>
	<p>We will send you an email to reset your password.</p>
	{% form 'recover_customer_password' %}
		{% if form.errors %}
			{{ form.errors | default_errors }}
		{% endif %}
		<input type="email" placeholder="email address" name="email" />
		<button type="submit">Submit</button>
		or <a href="javascript:void(0)" onclick="hide();">Cancel</a>
	{% endform %}
</div> <!-- end .password -->

{% if shop.checkout.guest_login %}
	<div class="guest">
		<h2>Guest Login</h2>
		<p>Continue checkout as a guest. No sign-up required.</p>
		{% form 'guest_login' %}
			<button type="submit">Continue as guest</button>
		{% endform %}
	{% endform %}
{% endif %}
</div> <!-- end .info -->

<script type="text/javascript">
	function show() {
		$('.password').css('display','block');
		$('.login').css('display','none');
	}
	function hide() {
		$('.password').css('display','none');
		$('.login').css('display','block');
	}
</script>
