{% layout settings.customer_layout %}
<div id="customer-login">
	Customer Login
	{% form 'customer_login' %}
		{{ form.errors | default_errors }}
		<input type="email" placeholder="email address" name="customer[email]" />

		{% if form.password_needed %}
			<input type="password" placeholder="password" name="customer[password]" />
			<a href="#" onclick="show();">Forgot your password?</a>
		{% endif %}
		<button type="submit">Sign In</button>
	{% endform %}
</div> <!-- end #customer-login -->

<div id="recover-password">
	Reset Password
	<p>We will send you an email to reset your password.</p>
	{% form 'recover_customer_password' %}
		{{ form.errors | default_errors }}
		<div id="recover-email">
			<input type="email" placeholder="email address" name="email" />
		</div>
		<button type="submit">Submit</button>
		or <a href="#recoveremail" onclick="hide();">Cancel</a>
	{% endform %}
</div> <!-- end #recover-password -->

{% if shop.checkout.guest_login %}
	Guest Login
	<p>Continue checkout as a guest. No sign-up required.</p>
	{% form 'guest_login' %}
		<button type="submit">Continue as Guest</button>
	{% endform %}
{% endif %}


<script type="text/javascript">
	function show() {
		document.getElementById('recover-password').style.display = 'block';
		document.getElementById('customer-login').style.display = 'none';
	}
	function hide() {
		document.getElementById('recover-password').style.display = 'none';
		document.getElementById('customer-login').style.display = 'block';
	}
</script>