
<h1>Customer login</h1>
{% form 'customer_login' %}
	{% if form.errors %}{% for field in form.errors %}<p>{{ field }}: {{ form.errors.messages[field] }}</p>{% endfor %}{% endif %}
	<label for="customer[email]">Email address</label>
	<input type="email" name="customer[email]" />
	<label for="customer[password]">Password</label>
	<input type="password" name="customer[password]" />
	<button type="submit">Sign In</button>
	<a href="javascript:void(0)" class="forgot">Forgot your password?</a>
{% endform %}

<div class="password">
	<h1>Reset password</h1>
	<p>We will send you an email to reset your password.</p>
	{% form 'recover_customer_password' %}
		{% if form.errors %}{% for field in form.errors %}<p>{{ field }}: {{ form.errors.messages[field] }}</p>{% endfor %}{% endif %}
		<label for="customer[email]">Email address</label>
		<input type="email" name="email" />
		<button type="submit">Submit</button>
	{% endform %}
</div> <!-- end .password -->

{% if shop.checkout.guest_login %}
	<div class="guest">
		<h1>Guest login</h1>
		<p>Continue checkout as a guest. No sign-up required.</p>
		{% form 'guest_login' %}
			<button type="submit">Continue as Guest</button>
		{% endform %}
	</div> <!-- end .guest -->
{% endif %}


<script>
	$('.forgot').click(function() {
		$('.password').show();
	});
</script>
