<div class="info rte">

<h1>Create Account</h1>

{% form 'create_customer' %}
	<div>{{ form.errors | default_errors }}</div>
	<input type="text" value="" name="customer[first_name]" placeholder="first name" />
	<input type="text" value="" name="customer[last_name]" placeholder="last name" />
	<input type="email" value="" name="customer[email]" placeholder="email address" />
	<input type="password" value="" name="customer[password]" placeholder="password" />
	<button type="submit">Create Account</button>
{% endform %}

</div> <!-- end .info -->