<h1>Create Account</h1>
{% form 'create_customer', return_to:routes.account_login_url %}
	{% if form.errors %}{% for field in form.errors %}<p>{{ field }}: {{ form.errors.messages[field] }}</p>{% endfor %}{% endif %}
	<label for="first_name">First name</label>
	<input id="first_name" type="text" value="" name="customer[first_name]" />

	<label for="last_name">Last name</label>
	<input id="last_name" type="text" value="" name="customer[last_name]" />

	<label for="email">Email address</label>
	<input id="email" type="email" value="" name="customer[email]" />

	<label for="password">Password</label>
	<input id="password" type="password" name="customer[password]" />

	<button type="submit">Create account</button>
{% endform %}
