{% layout settings.customer_layout %}

Reset Account Password

<p>Enter a new password for {{ email }}</p>

{% form 'reset_customer_password' %}
	{{ form.errors | default_errors }}

	<label for="password">Password</label>
	<input type="password" value="" name="customer[password]" id="customer_password" size="16" />

	<label for="password_confirmation">Password Confirmation</label>
	<input type="password" value="" name="customer[password_confirmation]" id="customer_password_confirmation" size="16" />

	<input type="submit" value="Reset Password" />
{% endform %}