<div class="info rte">

<h1>Reset Account Password</h1>
<p>Enter a new password for {{ email }}</p>
{% form 'reset_customer_password' %}
	{% if form.errors %}{% for field in form.errors %}<p>{{ field }}: {{ form.errors.messages[field] }}</p>{% endfor %}{% endif %}
	<label for="customer[password]">Password</label>
	<input type="password" name="customer[password]" />
	<label for="customer[password_confirmation]">Confirm password</label>
	<input type="password" name="customer[password_confirmation]" />
	<button type="submit">Reset Password</button>
{% endform %}

</div> <!-- end .info -->
