<div class="info rte">

<h1>Reset Account Password</h1>
<p>Enter a new password for {{ email }}</p>
{% form 'reset_customer_password' %}
	<div>{{ form.errors | default_errors }}</div>
	<input type="password" placeholder="password" name="customer[password]" />
	<input type="password" placeholder="confirm password" name="customer[password_confirmation]" />
	<button type="submit">Reset Password</button>
{% endform %}

</div> <!-- end .info -->