<div class="info">
<h2>Reset Account Password</h2>
<p>Enter a new password for {{ email }}</p>
{% form 'reset_customer_password' %}
	{% if form.errors %}
		{{ form.errors | default_errors }}
	{% endif %}
	<input type="password" placeholder="password" name="customer[password]" />
	<input type="password" placeholder="confirm password" name="customer[password_confirmation]" />
	<button type="submit">Reset password</button>
{% endform %}
</div> <!-- end .info -->
