$desktop:1477px; // generic desktop
$laptop:1306px; // generic laptop
$tablet_large:834px; // ipad pro 10.5" vertical 
$laptop_narrow:800px; // generic laptop
$tablet:760px; // ipad mini vertical
$mobile_wide:694; // ipad horizontal 2/3
$mobile:600px; // generic tablet
$iphone_plus:414px; // iphone 8 plus
$iphone:375px; // iphone 8
$iphoneSE:320px; // iphone SE
