// Mixins
@mixin bg($asset,$repeat,$position,$size) {
  background-image:url('{{ "#{$asset}" | asset_url }}');
  background-repeat:$repeat;
  background-position:$position;
  background-size:$size;
}
