// Global
.mobile {display:none;}
*, *:after, *:before {box-sizing:border-box; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale;}

// (only use for text elements)
.visuallyhidden {position:absolute; top:0; left:0; width:1px; height:1px; border:0; padding:0; margin:-1px; overflow:hidden; clip:rect(0 0 0 0); white-space:nowrap;}

// Header

// Footer

// Search

// 404

// @media screen and (max-width:$laptop) {}
