{% comment %} bxSlider
	https://bxslider.com
	Activate stylesheet in snippets/theme-styles.liquid
	Files in _assets folder
{% endcomment %}

<div class="desktop">
	<div class="slider">
		{% for block in section.blocks %}
			{% assign slide = block.settings %}
			{% assign image = slide.image | img_url:'1024x1024' | img_tag:slide.alt %}
			<div>{% if slide.url != blank %}{{ image | link_to:slide.url }}{% else %}{{ image }}{% endif %}</div>
		{% endfor %}
	</div> <!-- end .bxslider -->
</div> <!-- end .desktop -->

<div class="mobile">
	<div class="slider-mobile">
		{% for block in section.blocks %}
			{% assign slide = block.settings %}
			{% assign image = slide.image-mobile | img_url:'1024x1024' | img_tag:slide.alt %}
			<div>{% if slide.url != blank %}{{ image | link_to:slide.url }}{% else %}{{ image }}{% endif %}</div>
		{% endfor %}
	</div> <!-- end .bxslider-mobile -->
</div> <!-- end .mobile -->

<script>
	$(document).ready(function(){
		$('.slider').bxSlider({

		});
		$('.slider-mobile').bxSlider({
		
		});
	});
</script>

{% schema %}
	{"name":"Slideshow", "max_blocks":5, "blocks":[
    {"type":"slide", "name":"Slide", "settings":[
			{"type":"image_picker", "id":"image", "label":"Image", "info":"XXXXpx wide and XXXXpx tall"},
			{"type":"image_picker", "id":"image-mobile", "label":"Mobile image", "info":"XXXXpx wide and XXXXpx tall"},
			{"type":"text", "id":"alt", "label":"Alt text"}
			{"type":"url", "id":"url", "label":"Link", "info":"(optional)"}
    ]}
  ], "presets":[{"name":"Slides", "category":"Home page", "blocks":[{"type":"slide"}]}]
}
{% endschema %}
