<h1>Search{% if search.terms != blank %} results: {{ search.terms }}{% endif %}</h1>

{% paginate search.results by section.settings.range %}
	{% for item in search.results %}
		<a href="{{ item.url }}">
			{{ item.images[0] | img_url:'500x' | img_tag:item.title }}
			{{ item.title }}
		</a>
	{% endfor %}
	{% include 'pagination' %}
{% endpaginate %}


{% schema %}
	{"name":"Search", "settings":[
		{"type":"range", "id":"range", "label":"Number of results to display", "min":3, "max":30, "step":3, "default":12},
  ]}
{% endschema %}
