<div class="info rte">

<h1>Error 404 &mdash; missing page</h1>
<p>Sorry, we can&rsquo;t find what you&rsquo;re looking for.</p>
<p>Try searching</p>
<form name="search" action="/search">
	<input type="text" name="q" />
	<button type="submit">Search</button>
</form>

</div> <!-- end .info -->
