<div class="info">
<h2>Sorry, we can't find what you're looking for.</h2>
<h2>Try searching</h2>
<form name="search" action="/search">
	<input type="text" name="q" value="" placeholder="Search terms" />
	<button type="submit">Search</button>
</form>
</div> <!-- end .info -->
