{% paginate blog.articles by 3 %}
	{% for article in blog.articles  %}
		<a href="{{ article.url }}">{{ article.title }}</a>
		<p>Posted on {{ article.published_at | date: "%B %d, %Y" }}</p>
		<div class="rte">
			{{ article.content }}
		</div> <!-- end .rte -->
	{% endfor %}
	{% include 'pagination' %}
{% endpaginate %}
