<h1>{{ collection.title }}</h1>
<div class="rte">{{ collection.description }}</div>
{% paginate collection.products by collection.products.size %}
	{% include 'collection-loop' %}
	<a href="/collections/{{ collection.handle }}">View less</a>
{% endpaginate %}
