<h1>{{ collection.title }}</h1>
<div class="rte">{{ collection.description }}</div>
{% paginate collection.products by collection.products.size %}
	{% include 'collection-loop' %}
	{% if paginate.pages > 1 %}
		{{ paginate | default_pagination }}
		<a href="/collections/{{ collection.handle }}?view=all">view all</a>
	{% endif %}
{% endpaginate %}
