<h1>Collections</h1>
{% paginate collections by collections.size %}
	{% for collection in collections %}
		<a href="{{ collection.url }}">
			{% if collection.image %}{% assign img = collection.image.src %}{% else %}{% assign img = collection.products[0].images[0] %}{% endif %}
			{{ img | img_url:'medium' | img_tag:collection.title }}
			{{ collection.title }}
		</a>
	{% endfor %}
{% endpaginate %}
