<h1>Collections</h1>

{% paginate collections by collections.size %}
	{% for collection in collections %}		

		<a href="{{ collection.url }}">

			{% if collection.image %}
				{{ collection.image.src | img_url:'500x', scale:2 | img_tag:collection.image.alt }}
			{% else %}
				{{ collection.products[0].featured_image | img_url:'500x', scale:2 | img_tag:collection.products[0].featured_image.alt }}
			{% endif %}

			<p class="title">{{ collection.title }}</p>
		</a>

	{% endfor %}

	{% include 'pagination' %}

{% endpaginate %}
