<h1>Collections</h1>
{% paginate collections by collections.size %}
	{% for collection in collections %}
		<a href="{{ collection.url }}">
			{% if collection.image %}
				{% assign image = collection.image.src %}
			{% else %}
				{% assign image = collection.products[0].images[0] %}
			{% endif %}
			{{ image | image_url:'500x' | image_tag:collection.title }}
			{{ collection.title }}
		</a>
	{% endfor %}
	{% include 'pagination' %}
{% endpaginate %}
