<div class="rte">
  <h1>{{ page.title }}</h1>

  <p>This page is here to show off styles for standard page elements such as typography, form elements, and icons. These are hard coded in an alternate page template file, named <code>page.styles.liquid</code>.</p>

  <h1>Heading one</h1>
  <h2>Heading two</h2>
  <h3>Heading three</h3>
  <h4>Heading four</h4>
  <h5>Heading five</h5>
  <h6>Heading six</h6>

  <h3>Paragraphs</h3>
  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper.</p>
  <p>Suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p>

  <h3>Type styles</h3>
  <ul>
    <li><a href="javascript:void(0)">Link</a></li>
    <li><strong>Strong</strong></li>
    <li><em>Emphasis</em></li>
  </ul>

  <h3>Blockquotes</h3>
  <blockquote>
    <p>Eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</p>
  </blockquote>

  <h3>Lists</h3>
  <h5>Bulleted list</h5>
  <ul>
    <li>One</li>
    <li>Two</li>
    <li>Three</li>
    <li>Four</li>
  </ul>

  <h5>Numbered list</h5>
  <ol>
    <li>One</li>
    <li>Two</li>
    <li>Three</li>
    <li>Four</li>
  </ol>

  <h3>Tables</h3>
  <table>
    <thead>
      <tr>
        <th>Order</th>
        <th>Date</th>
        <th>Payment Status</th>
        <th>Fulfillment Status</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      {% for i in (1..6) %}
        <tr>
          <td>#100{{ forloop.index }}</td>
          <td>December 2{{ forloop.index }}, 2015</td>
          <td>Authorized</td>
          <td>Unfulfilled</td>
          <td>$43.03</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

</div> <!-- end .rte -->
