	<h1>{{ product.title }}</h1>
	{% include 'product-images' %}
	{{ product.description }}

	<p class="price">{{ product.price | money | remove:' ' }}</p>
	{% include 'product-form' %}

	{% include 'product-share' %}
	{% include 'product-schema' %}
